<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <style>
            *{
                box-sizing: border-box;
            }
        </style>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="background-image: url(footer-bg.png);">
                <div class="col-6" style="text-align: center;padding: 50px;">
                    <img src="hero-icon.png"><br>
                    <h1 style="color: white;">Our Services</h1>
                </div>
                <div class="col-6">
                    <img src="h2_hero2.png">
                </div>
            </div>
            <div class="row " style="margin:60px;">
                <div class="col-md-4" style="padding: 50px;">
                    <img src="offers1.png" style="margin-bottom: 50px;">
                    <a href="#" style="text-decoration: none;color: black;"><h3>Tailor Sweing</h3></a>
                    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</P>
                </div>
                <div class="col-md-4" style="padding: 50px;">
                    <img src="offers2.png" style="margin-bottom: 50px;">
                    <a href="#" style="text-decoration: none;color: black;"><h3>Mesurement</h3></a>
                    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</P>
                </div>
                <div class="col-md-4" style="padding: 50px;">
                    <img src="offers3.png" style="margin-bottom: 50px;">
                    <a href="#" style="text-decoration: none;color: black;"><h3>Ready-made</h3></a>
                    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</P>
                </div>
            </div>
            <div class="row" style="margin: 70px;">
                <div class="col-12" style="text-align: center;">
                    <h1>Why use our service?</h1>
                    <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                </div>
            </div>
            <div class="row" style="margin: 50px;">
                <div class="col-sm-3" >
                    <img src="services1.svg" style="margin-bottom: 20px;">
                    <h3 >Tailor Sweing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
                <div class="col-sm-3" >
                    <img src="services2.svg" style="margin-bottom: 20px;">
                    <h3>Tailor Sweing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
                <div class="col-sm-3">
                    <img src="services3.svg" style="margin-bottom: 20px;">
                    <h3>Tailor Sweing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
                <div class="col-sm-3">
                    <img src="services4.svg" style="margin-bottom: 20px;">
                    <h3>Tailor Sweing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
            </div>

        </div>

    </body>
</html>
