
<style>
    *{
        box-sizing: border-box;
    }
</style>


<div class="container-fluid">
  <div class="row" style="background-image: url(../../../../assets/footer-bg.png);">
      <div class="col-6" style="text-align: center;padding: 50px;">
          <img src="../../../../assets/hero-icon.png"><br>
          <h1 style="color: white;">Our Services</h1>
      </div>
      <div class="col-6">
          <img src="../../../../assets/h2_hero2.png">
      </div>
  </div>
  <div class="row " style="margin:60px;">
      <div class="col-md-4" style="padding: 50px;">
          <img src="../../../../assets/offers1.png" style="margin-bottom: 50px;">
          <a href="#" style="text-decoration: none;color: black;"><h3>Tailor Sweing</h3></a>
          <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</P>
      </div>
      <div class="col-md-4" style="padding: 50px;">
          <img src="../../../../assets/offers2.png" style="margin-bottom: 50px;">
          <a href="#" style="text-decoration: none;color: black;"><h3>Mesurement</h3></a>
          <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</P>
      </div>
      <div class="col-md-4" style="padding: 50px;">
          <img src="../../../../assets/offers3.png" style="margin-bottom: 50px;">
          <a href="#" style="text-decoration: none;color: black;"><h3>Ready-made</h3></a>
          <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</P>
      </div>
  </div>
  <div class="row" style="margin: 70px;">
      <div class="col-12" style="text-align: center;">
          <h1>Why use our service?</h1>
          <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </div>
  </div>
  <div class="row" style="margin: 50px;">
      <div class="col-sm-3" >
          <img src="../../../../assets/services1.svg" style="margin-bottom: 20px;">
          <h3 >Tailor Sweing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
      </div>
      <div class="col-sm-3" >
          <img src="../../../../assets/services2.svg" style="margin-bottom: 20px;">
          <h3>Tailor Sweing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
      </div>
      <div class="col-sm-3">
          <img src="../../../../assets/services3.svg" style="margin-bottom: 20px;">
          <h3>Tailor Sweing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
      </div>
      <div class="col-sm-3">
          <img src="../../../../assets/services4.svg" style="margin-bottom: 20px;">
          <h3>Tailor Sweing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
      </div>
  </div>

</div>


